<%= form_with(model: Message.new, id: "new_message_form") do |form| %>
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, User.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_field :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
